version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      timezone: Asia/Tokyo
    versioning-strategy: increase
    labels:
      - dependencies
    groups:
      react:
        patterns:
          - "react"
          - "react-dom"
    ignore:
      - dependency-name: "eslint"
        versions:
          - ">= 10.0.0"
