@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: rgba(250, 250, 250, 1);
  --foreground: rgba(10, 10, 10, 1);
  --card: rgba(255, 255, 255, 1);
  --card-foreground: rgba(10, 10, 10, 1);
  --popover: rgba(255, 255, 255, 1);
  --popover-foreground: rgba(10, 10, 10, 1);
  --primary: rgba(23, 23, 23, 1);
  --primary-foreground: rgba(250, 250, 250, 1);
  --secondary: rgba(245, 245, 245, 1);
  --secondary-foreground: rgba(23, 23, 23, 1);
  --muted: rgba(245, 245, 245, 1);
  --muted-foreground: rgba(115, 115, 115, 1);
  --accent: rgba(245, 245, 245, 1);
  --accent-foreground: rgba(23, 23, 23, 1);
  --destructive: rgba(220, 38, 38, 1);
  --destructive-foreground: rgba(254, 242, 242, 1);
  --border: rgba(229, 229, 229, 1);
  --input: rgba(229, 229, 229, 1);
  --ring: rgba(163, 163, 163, 1);
  --chart-1: rgba(234, 88, 12, 1);
  --chart-2: rgba(13, 148, 136, 1);
  --chart-3: rgba(22, 78, 99, 1);
  --chart-4: rgba(251, 191, 36, 1);
  --chart-5: rgba(245, 158, 11, 1);
  --radius: 0.625rem;
  --sidebar: rgba(250, 250, 250, 1);
  --sidebar-foreground: rgba(10, 10, 10, 1);
  --sidebar-primary: rgba(23, 23, 23, 1);
  --sidebar-primary-foreground: rgba(250, 250, 250, 1);
  --sidebar-accent: rgba(245, 245, 245, 1);
  --sidebar-accent-foreground: rgba(23, 23, 23, 1);
  --sidebar-border: rgba(229, 229, 229, 1);
  --sidebar-ring: rgba(163, 163, 163, 1);
}

.dark {
  --background: rgba(10, 10, 10, 1);
  --foreground: rgba(250, 250, 250, 1);
  --card: rgba(23, 23, 23, 1);
  --card-foreground: rgba(250, 250, 250, 1);
  --popover: rgba(38, 38, 38, 1);
  --popover-foreground: rgba(250, 250, 250, 1);
  --primary: rgba(229, 229, 229, 1);
  --primary-foreground: rgba(23, 23, 23, 1);
  --secondary: rgba(38, 38, 38, 1);
  --secondary-foreground: rgba(250, 250, 250, 1);
  --muted: rgba(38, 38, 38, 1);
  --muted-foreground: rgba(163, 163, 163, 1);
  --accent: rgba(64, 64, 64, 1);
  --accent-foreground: rgba(250, 250, 250, 1);
  --destructive: rgba(248, 113, 113, 1);
  --destructive-foreground: rgba(254, 242, 242, 1);
  --border: rgba(255, 255, 255, 0.10000000149011612);
  --input: rgba(255, 255, 255, 0.15000000596046448);
  --ring: rgba(115, 115, 115, 1);
  --chart-1: rgba(29, 78, 216, 1);
  --chart-2: rgba(16, 185, 129, 1);
  --chart-3: rgba(245, 158, 11, 1);
  --chart-4: rgba(168, 85, 247, 1);
  --chart-5: rgba(244, 63, 94, 1);
  --sidebar: rgba(23, 23, 23, 1);
  --sidebar-foreground: rgba(250, 250, 250, 1);
  --sidebar-primary: rgba(29, 78, 216, 1);
  --sidebar-primary-foreground: rgba(250, 250, 250, 1);
  --sidebar-accent: rgba(38, 38, 38, 1);
  --sidebar-accent-foreground: rgba(250, 250, 250, 1);
  --sidebar-border: rgba(255, 255, 255, 0.10000000149011612);
  --sidebar-ring: rgba(82, 82, 82, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Statuses */
  --color-status-default: #737373;
  --color-status-neutral: #0ea5e9;
  --color-status-completed: #22c55e;
  --color-status-attention: #f59e0b;
  --color-status-danger: #ef4444;
}
