name: CI (packages)

on:
  push:
    paths:
      - 'packages/**'
      - 'examples/**'
      - '.github/workflows/ci-packages.yaml'
      - '.github/actions/ci/action.yaml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: ./.github/actions/ci
